body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  width: 500px;
}

.section-list {
  display:flex;
}

.section-list .painel-left {
  width: 300px;
}

.section-list .painel-right {
  width: 100%;
}

pre {
  padding: 8px 3px;
  background: #e9e9e9
}